extends layout

block title_block
 title Contact Us
block stylesheets
 link(rel='stylesheet', href='/stylesheets/base.css')
 link(rel='stylesheet', href='/stylesheets/contact.css')
 script(src="/javascripts/external/jquery.js")
 script(src="/javascripts/external/jqueryui.js")
 script(src="/javascripts/mylib.js")
 script(src="/javascripts/navigation.js")
 script(src="/javascripts/contact.js")
 
block content
 p This page is under construction...