footer
 p Copyright &copy;
  span.italic FS Editing 2016 
  br
  | All rights reserved
 p This site is created and maintained by
  br 
  span.italic MERRA Web Solution 
  br 
  | Email:   
  span.italic merra@gmail.com